.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.Main-container {
  overflow-y: scroll;
  border-radius: 10px;
  padding-bottom: 20px;
  width: 90vw;
  height: 90vh;
  background-color: white;
}
